.sticky-section{
  overflow:hidden;
  background-color:#09689E; 
  margin-bottom:50px;
  width:100%; 
  color:white; 
}
nav a{
  float: right;
  text-decoration:none;
  color:white;
  font-size:18px; 
  padding: 20px 30px; 
  display:inline-block; 
  transition: all 0.5s ease 0s;
}
body {
  margin: 0;
  padding: 0;
}
#logo{
  font-size:20px;  
  font-weight:bold;
  float:left;
  padding: 15px 15px;
}
#logo{
  margin-left:16%;  
}
nav{
 margin-right:17%;
}
nav a:hover{
  background-color:#002e5b; 
  color:wheat; 
}